<section class="navbar">
    <div class="container">
        <div class="logo-cont">
            <img src="../../../assets/img/logo_jemmamy.png" alt="Logo de JEmmaMY">
        </div>

        <div class="options-cont">
            <a href="">
                <div class="option">
                    <span class="option__text">
                        Sobre mi
                    </span>
                
                </div>
            </a>

            <a href="">
                <div class="option">
                    <span class="option__text">
                        Habilidades
                    </span>
                
                </div>
            </a>

            <a href="">
                <div class="option">
                    <span class="option__text">
                        Trabajos
                    </span>
                
                </div>
            </a>

            <a href="">
                <div class="option">
                    <span class="option__text">
                        Contactame
                    </span>
                
                </div>
            </a>

        </div>
    </div>
</section>